EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=votre.email@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_application_gmail
DEFAULT_FROM_EMAIL=votre.email@gmail.com
GYM_RESPONSIBLE_EMAIL=responsable@gym.com
GYM_RESPONSIBLE_NAME=Responsable Wifak Club Gym
FRONTEND_URL=http://127.0.0.1:5173
